html, body, #home {
	height: 100%;
	overflow-x: hidden;
}

body{
	background-image: url("img/para.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

				font-family: Helvetica, Arial, sans-serif;
}

.fundo {
	background-image: url("img/para.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
				font-family: Helvetica, Arial, sans-serif;
}

.fundo2 {
	background-image: url("img/para2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
				font-family: Helvetica, Arial, sans-serif;
}


/* Barra de navegação
------------------------------*/

nav.navbar-transparente{
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.6);
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #c58f45;
}

.navbar-light .navbar-toggler {
	color: rgba(255, 255, 255, .5);
	border-color: rgba(255, 255, 255, 0.5);
}

.divisor {
	width: 1px;
	background: white;
	margin: 12px 15px;
}

/* Capa
-------------------------------*/
.capa {
	text-align: center;
}

.btn-custom {
	color: white;
	border-radius: 500px ;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	text-transform: uppercase;
	transition: background 0,4s, color 0,4s;
	padding: 10px 20px;
}

.btn-roxo {
	background: #7c25f8;
}

.btn-roxo:hover {
	background: #6207e3;
	color: white;
}

.btn-branco {
	border: 2px solid white;
	background: gray;
}

.btn-branco:hover {
	background-color: white;
	color: black;
}

.carousel-control-next, .carousel-control-prev {
	width: 5%;
}


/* Estrutura de conteúdos
-------------------------------*/

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: rgba(0, 0, 0, 0.5);
}

.caixa {
	padding-top: 20px;
	padding-bottom: 20px;
}

.caixa2 {
	padding-top: 0px;
	padding-bottom: 20px;
	text-justify: center;
	background-color: rgba(0, 0, 0, 0.7);;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: justify;
	text-align: center;
}
#servicos {
	background-color: rgba(0, 0, 0, 0.7);;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.marina {
	color: white;
}


#servicos p{
	color: white;
}

#recursos {
	color: white;
}

#recursos p{
	font-size: 1.5em;
}

#servicos h2, h3 {
	color: white;
	font-size: 2.2em;
}

#recursos h3 {
	color: #9bf0e1;
}

#recursos h2 {
	color: white;
}

.albuns {
	padding: 10px 10px;
}

.img-fluid {
    max-width: 100%;
    height: 100%;
}

.carousel-item img {
  width: 800px;
  height: 400px;
  border: 10px solid black;
  box-shadow: 0 0 20px 5px rgba(0, 0, 255, 0.5);
}

.local{
	padding-top: 50px;
}

.icone {
  position: fixed;
  bottom: 30px;
  right: 20px;
  font-size: 1.8em;
  transform: translate(-50%, -50%);
}


a.icone {
  position: absolute;
  top: 305px; /* posicionamento em relação ao topo */
  left: 70%; /* posicionamento em relação à esquerda */
  transform: translateX(-50%); /* alinhamento horizontal */
  margin-top: 340px; /* margem superior para posicionamento vertical */
}

/* Rodapé
------------------------------*/
footer {
	background: #000;
	padding: 50px 0px 20px 0px;
	position: relative;
}

footer h4 {
	color: #919496;
	font-size: 0.8em;
	text-transform: uppercase;
}

footer .navbar-nav a {
	color: white;
	font-size: 0.8em;
}

footer .navbar-nav a:hover {
	color: #9bf0e1;
	text-decoration: none;
}

footer ul{
	list-style: none;
}

footer ul li{
	float: right;
	margin: 0 5px;
}

/* Tipografia
-------------------------------*/
h1 {
		font-weight: 900;
		letter-spacing: -0.05em;
		margin-bottom: 50px;
		color: white;
}

h2 {
	font-size: 3em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3 {
	font-size: 2em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

/* Extra small devices (portrait phones, less than 576px)*/


@media (max-width: 575.98px) {
  .btn-custom {
    margin: 10px 15px;
    font-size: 1em;
  } 

  .img-fluid2 {
    max-width: 100%;
    height: 100%;
    padding-top: 145px;
}

  .icone{
  	position: fixed;
  	padding-top: 40%;
  	padding-left: 10%;
  	transform: translateX(50%);
  	font-size: 30px;
  }

  #mapa {
    max-width: 100%;
    height: 400px;
  }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	
	.icone{
  	position: absolute;
  	clear: both;
  	font-size: 2em;
  	padding-top: 265px;
  	padding-left: -35px;
  }

   .img-fluid2 {
    max-width: 100%;
    height: 100%;
    padding-top: 225px;
}
	
	h1 {
		font-size: 3em;
	}
	.btn-custom {
		margin: 10px 15px;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

	.logo-sjp{
	 margin-left: 10%;
	}

	.icone{
  	position: absolute;
  	clear: both;
  	font-size: 2em;
  	padding-top: -15px;
  	padding-left: 145px;
  }
	
	h1 {
		font-size: 4em;
	}